*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url(assets/assets/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#container {
    text-align: center;
    width: 360px;
    margin: auto;
}



 #oa {
    color: white;
    display: block;
 }

 #links {
    margin: 40px 0 0 0;
    align-items: center;
    display: flex;
    flex-direction: column;
 }

 #links li{
    background-image: linear-gradient 50% (#FFFFFF);
    border: 1px solid red;
    width: 540px;
    padding: 16px 0;
    margin: 8px 0;
    text-align: center;
    border-radius: 8px;
     
 }

 #social {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    width: 580px;
    padding: 24px 160px;
 }

#social li {
    text-align: center;
    margin: auto;
}

#agradecimentos {
    text-align: center;
    color: white;
    margin: 24px 0;
}
