*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
   --text-color: white;
   --bg-url: url(assets/assets/bg-desktop.jpg);
   --stroke-color: rgba(255, 255, 255, 0.5);
   --surface-color: rgba(255, 255, 255, 0.1);
   --surface-color-houver: rgba(255, 255, 255, 0.02);
   --hightli-color: rgba(255, 255, 255, 0.2);
   --switch-bg-url: url(assets/assets/moon-stars.svg);

}

.light {
   --text-color: black;
   --bg-url: url(assets/assets/bg-desktop-light.jpg);
   --stroke-color: rgba(0, 0, 0, 0.5);
   --surface-color: rgba(0, 0, 0, 0.05);
   --surface-color-houver: rgba(0, 0, 0, 0.02);
   --hightli-color: rgba(0, 0, 0, 0.2);
   --switch-bg-url: url(assets/assets/sun.svg);


}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#container {
    text-align: center;
    width: 360px;
    margin: auto;
    padding: 0 24px;
}

#Switch {
   position: relative;
   width: 64px;
   margin: 0 auto;
}

#Switch button {
   width: 32px;
   height: 32px;
   background: white var(--switch-bg-url) no-repeat center;
   border-radius: 50%;
   border: 0;

   position: absolute;
   top: 50%;
   left: 0;
   z-index: 1;
   transform: translateY(-50%);

}

button {
   right: 0;
   left: initial;
}



span {
   display: block;
   width: 64px;
   height: 24px;
   background: var(--surface-color);
   border: 1px solid var(--stroke-color);
   border-radius: 32px;
}

a {
    color: var(--text-color);
    font-family: "inter", sans-serif;
}

 #oa {
    color: var(--text-color);
    display: block;
    margin: 0 0 24px 0;
 }

 #links {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
 }

 #links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    border-radius: 8px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
 }

 #links li a:hover {
    background: var(--surface-color-houver);
    border: 1.5px solid var(--text-color);
 }

 #social {    
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px 0;
    font-size: 24px;
 }

 #social li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;

    transition: background 0.2s;

 }

 #social li a img {
   background: var(--text-color);

 }

 #social a:hover {
    background: var(--hightli-color);
    padding: 16px;
    border-radius: 50%;
 }



#agradecimentos {
    text-align: center;
    color: var(--text-color);
    margin: 24px 0;
}

